<div class="container home-details-formatter">
  <div class="row">
      <div class="col-md-4">
          <p><b>Custom components:</b></p>
          <p>Use of these are illustrated on the other pages</p>
          <div>
              <ul>
                  <li>
                    <a (click)="toggleImage(1)">Comment Tile Component</a>
                  </li> 
                  <li>
                    <a (click)="toggleImage(2)">Comment Component</a>
                  </li> 
                </ul>
          </div>
      </div>
      <div class="col-md-8">
          <img [src]="imageSrc">
      </div>    
  </div>  
</div>