<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row col-md-12">
      <div style="width:100%;background-color: black;color:red;text-align:center;margin-bottom:25px;">
          <h1>
              {{ title }}
            </h1>  
      </div> 
  </div>
  <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" routerLink="homedetails" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/comment" routerLinkActive="active">Customer Comments</a></li>
    </ul>   
</div>

<router-outlet></router-outlet>
